.idea/
cmake-build-debug/
build/
games/
web/tmp/
src/tmp/
bin/
Quokka/
lichess/
lichess_bot/

make_zip.sh
rachael.zip
ps.txt
web/README.md
web/test.cpp
rachael

*.wasm
*.html
*.js
*.o
obj/
doc/
GAMES.md
BUGS.md
unittest
